/* @import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/Fontspring-DEMO-proximanovacond-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: 'Proxima Nova Conensed';
} */